<div class="row">
    <div class="col-1 p-3" [ngClass]="divBgColor">
        Div 1
    </div>
    
    <div class="col-1 p-3" [ngClass]="isChecked == true ? 'bg-success':'bg-danger'">
        Div 2
    </div>

    <div class="col-1 p-3" [ngClass]="divInput">
        Div 3
    </div>
</div>

<div class="row pt-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="changeColor('bg-success')">Change Color</button>
        <button class="btn btn-danger" (click)="changeColor('bg-danger')">Change Color</button>
    </div>
    <div>
        <input type="checkbox" [(ngModel)]="isChecked"/>
        - {{isChecked}}
    </div>
    <div>
        <input type="text" [(ngModel)]="divInput"/>
    </div>
</div>